@font-face {
  font-family: PFDinDisplayPro;
  src: url('assets/fonts/PFDinDisplayPro-Regular.eot');
  src: local('☺'), url('assets/fonts/PFDinDisplayPro-Regular.woff') format('woff'),
    url('assets/fonts/PFDinDisplayPro-Regular.ttf') format('truetype'),
    url('assets/fonts/PFDinDisplayPro-Regular.svg') format('svg');
}
body {
  margin: 0px;
}
::-webkit-scrollbar {
  height: 15px;
  -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0 0 10px 10px;
}
::-webkit-scrollbar-thumb:horizontal {
  background-color: #f2bf93;
  background-image: -webkit-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.25) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.25) 50%,
    rgba(255, 255, 255, 0.25) 75%,
    transparent 75%,
    transparent
  );
  border-radius: 0 0 10px 10px;
}
.board-wrapper {
  background: #f0ebce;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.board-body {
  width: 920px;
  height: 420px;
  margin: 30px 0px;
  background: rgba(57, 81, 68, 0.6);
  border-radius: 10px;
  overflow-x: scroll;
  overflow-y: hidden;
  font-family: PFDinDisplayPro;
  display: flex;
}
.board-body__addcard {
  height: 345px;
  width: 230px;
  min-width: 230px;
  margin: 30px 60px;
  box-sizing: border-box;
  padding: 24px 12px;
  border: 2px dashed rgba(0, 0, 0, 0.5);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.4));
  border-radius: 10px;
  box-shadow: 0 0 10px #8c988f;
  background: #828f7b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.2);
  line-height: 1;
  cursor: pointer;
}
.board-body__addcard span {
  display: block;
  font-size: 40px;
  margin-top: -25px;
}
