.board-body__column {
  height: 345px;
  width: 230px;
  min-width: 230px;
  margin: 30px 20px;
  box-sizing: border-box;
  padding: 24px 12px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.4));
  border-radius: 10px;
  box-shadow: 0 0 10px #8c988f;
  background: #828f7b;
  display: inline-block;
}
.board-body__column__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 28px;
}
.board-body__column__header__title h2 {
  margin: 0px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  text-transform: uppercase;
  cursor: pointer;
}
.board-body__column__header__settings a.remove {
  display: flex;
  margin-right: 11px;
}
.board-body__column__add-task button {
  border: 1px dashed #000000;
  border-radius: 10px;
  width: 100%;
  background: transparent;
  height: 44px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.8);
  padding: 10px;
  text-align: left;
  font-family: 'PFDinDisplayPro';
  cursor: pointer;
}
.board-body__column__add-task button span {
  margin-right: 10px;
  font-size: 20px;
}
.board-body__column__headercorrect {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 22px;
}
.board-body__column__headercorrect__input input {
  font-family: 'PFDinDisplayPro';
  border: 0px;
  margin: 0px;
  position: relative;
  width: 140px;
  border-radius: 10px;
  background: #f1f1f1;
  font-size: 16px;
  color: #000000;
  padding: 2px 14px;
  box-sizing: border-box;
  height: 30px;
  margin-top: -15px;
}
.board-body__column__headercorrect__settings {
  display: flex;
  align-items: center;
  height: 20px;
  justify-content: center;
}
.board-body__column__headercorrect__settings a {
  display: flex;
}
.board-body__column__headercorrect__settings a.check {
  margin-right: 12px;
}
.remove__img:hover {
  transition: 1s;
  box-shadow: 0 4px 10px 0 #ccc;
}
.remove__img:active {
  transform: scale(0.9);
}
