.main-padding {
  padding: 180px 0 20px;
}
.main_error {
  text-align: center;
}
.boards {
  display: flex;
  max-width: 999px;
  flex-wrap: wrap;
  margin: auto;
  column-gap: 62px;
  row-gap: 51px;
  padding: 0 59px;
}
.board {
  width: 252px;
  font-family: 'Inter';
  font-style: normal;
  color: #000000;
  background: rgba(57, 81, 68, 0.6);
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}
.board:hover {
  box-shadow: 0 4px 10px 0 #ccc;
}
.board:active {
  transform: scale(0.9);
}
.board-container {
  display: flex;
  flex-direction: column;
  padding-top: 22px;
}
.board__img {
  width: 61px;
  align-self: center;
  margin-bottom: 22px;
}

.board__content-container {
  width: 152px;
  min-height: 70px;
  margin-left: 24px;
}
.board__name {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 22px;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  -ms-line-clamp: 2;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  display: -webkit-box;
  display: box;
  word-wrap: break-word;
  -webkit-box-orient: vertical;
  box-orient: vertical;
}
.board__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.board__delete {
  display: flex;
  width: 24px;
  justify-content: center;
  background-color: transparent;
  border: transparent;
  margin: 0 11px 15px auto;
  cursor: pointer;
  transition: 2s;
}
.board__delete-img {
  width: 24px;
}
.board__delete:hover {
  box-shadow: 0 4px 10px 0 #ccc;
}

.form {
  display: flex;
  width: 300px;
  font-family: 'Inter';
  font-style: normal;
  flex-direction: column;
  padding: 10px;
  box-shadow: none;
}
.form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 7px 0 55px;
}
.form-title_confirm {
  margin: 20px 0 0 0;
}
.input-create-board-err-container {
  display: flex;
  height: 56px;
  flex-direction: column;
}
.input-create-board-err-container .input-create-board {
  margin-bottom: 0;
}
.input-create-board {
  height: 39px;
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  background: rgba(57, 81, 68, 0.5);
  border: none;
  border-radius: 10px;
  padding: 10px;
  overflow: hidden;
  margin-bottom: 17px;
}
.form-button-container {
  display: flex;
  justify-content: end;
  column-gap: 10px;
  padding-top: 30px;
}
.modal__button {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  background-color: transparent;
  border: none;
  padding: 0;
  transition: 2s;
}
.modal__button_active {
  color: #f0ebce;
  background: #395144;
  border-radius: 10px;
  padding: 6px 19px;
  transition: 2s;
}
.modal__button:hover {
  text-decoration: underline;
  cursor: pointer;
}
.modal__button:active {
  transform: scale(0.9);
}
